body {margin: 0px;}  
.content {  font-family: Verdana; font-size: 12px; color: #000000; line-height: 18px;}
.content1 {  font-family: Verdana; font-size: 12px; color: #807e7f; line-height: 25px; text-align: justify;}
.h1 {  font-family: Verdana; font-size: 8px; font-weight: bold;}
.link {font-family: Verdana; font-size: 11px; line-height: 18px; text-decoration: none; font-weight: normal; color: #000000;}
.mlink { font-family: Verdana; font-size: 11px;	line-height: 18px;	color: #ffffff;	text-decoration: none;}
.paragrey {	font-family: Verdana; font-size: 11px; line-height: 20px; color: #333333; text-decoration: none; text-align: justify;}
.title {  font-family: Arial; font-size: 16px; font-weight: bold; color: #2a4445;}
.title1 {  font-family: Arial; font-size: 20px; font-weight: bold; color: #2a4445;}
.title2 {  font-family: Verdana; font-size: 24px; font-weight: bold;}
.titlegrey {  font-family: Verdana; font-size: 16px; font-weight: bold; color: #848283;}
.titlegrey1 {  font-family: Verdana; font-size: 18px; font-weight: bold; color: #848283;}
.titlegrey2 {  font-family: Verdana; font-size: 24px; font-weight: bold; color: #848283;}
.titlewhite {  font-family: Verdana; font-size: 16px; font-weight: bold; color: #FFFFFF;}
.titlewhite1 {  font-family: Verdana; font-size: 18px; font-weight: bold; color: #FFFFFF;}
.titlewhite2 {  font-family: Verdana; font-size: 24px; font-weight: bold; color: #FFFFFF;}
.subtitle {  font-family: Verdana; font-size: 12px; font-weight: bold;}
.subtitle1 {  font-family: Verdana; font-size: 14px; font-weight: bold;}
.subtitle2 {  font-family: Verdana; font-size: 16px; font-weight: bold;}
.subtitlered {  font-family: Verdana; font-size: 12px; font-weight: bold; color: #990000;}
.subtitlered1 {  font-family: Verdana; font-size: 14px; font-weight: bold; color: #990000;}
.subtitlered2 {  font-family: Verdana; font-size: 16px; font-weight: bold; color: #990000;}
.subtitlewhite {  font-family: Arial; font-size: 12px; font-weight: bold; color: #FFFFFF;}
.subtitlewhite1 {  font-family: Arial; font-size: 14px; font-weight: bold; color: #FFFFFF;}
.subtitlewhite2 {  font-family: Arial; font-size: 16px; font-weight: bold; color: #FFFFFF;}
.subtitledblue {  font-family: Verdana; font-size: 12px; font-weight: bold; color: #04455E;}
.subtitledblue1 {  font-family: Verdana; font-size: 14px; font-weight: bold; color: #04455E;}
.subtitledblue2 {  font-family: Verdana; font-size: 16px; font-weight: bold; color: #04455E;}
.text {  font-family: Verdana; font-size: 11px; line-height: 20px; color: #FFFFFF; text-align: justify;}
.textbold {  font-family: Verdana; font-size: 8px; font-weight: bold;}
.textitalic {  font-family: Verdana; font-size: 12px; font-style: italic;}
.textitalicbold {  font-family: Verdana; font-size: 12px; font-style: italic; font-weight: bold;}
.textitalicwhite {  font-family: Verdana; font-size: 12px; font-weight: bold; color: #FFFFFF;}
.textwhite {  font-family: Verdana; font-size: 6px; color: #FFFFFF;}
.textwhite1 {  font-family: Verdana; font-size: 10px; color: #FFFFFF;}
.textwhite2 {  font-family: Verdana; font-size: 12px; font-weight: bold; color: #FFFFFF;}
.table {  font-family: Tahoma; font-size: 11px;}
.table1 {  font-family: Verdana; font-size: 14px;}
.tablebold {  font-family: Verdana; font-size: 12px; font-weight: bold;}
.tablebold1 {  font-family: Verdana; font-size: 14px; font-weight: bold;}
.tablewhite {  font-family: Arial; font-size: 11px; color: #FFFFFF;}
.tablewhite1 {  font-family: Verdana; font-size: 14px; color: #FFFFFF;}
.tablewhitebold { font-family: Arial; font-size: 12px; font-weight: bold; color: #FFFFFF; word-spacing: normal;}
.tableblackbold { font-family: Arial; font-size: 12px; font-weight: bold; color: #000000; word-spacing: normal;}
.tablewhitebold1 {  font-family: Verdana; font-size: 14px; font-weight: bold; color: #FFFFFF;}
.button {  font-family: Verdana; font-size: 10px; font-style: normal; font-weight: bold; background-color: #0099FF; border-color: #000000 black black; border-top-width: thin;}
.button1 {  font-family: Verdana; font-size: 10px; font-weight: bold; background-color: #FFCC99; border-color: #000000 black black; border-top-width: thin;}
.button2 {  font-family: Verdana; font-size: 10px; font-weight: bold; background-color: #99CCFF; border: #FF9900; border-width: thin;}
.input {  font-family: Verdana; font-size: 10px; background-color: #FFFFFF; border-style: groove;}
.output {  font-family: Verdana; font-size: 12px; font-weight: bold; color: #CC0000; background-color: #FFFFFF;}
.navigation {font-family: Tahoma; font-size: 11px; font-weight: bold; color: #FFFFFF;}
.menu {font-family: Verdana; font-size: 11px; line-height: 18px; text-decoration: none; font-weight: normal; color: #FFFFFF;}
.footer {  font-family: Verdana; font-size: 11px; line-height: 20px; color: #000000; text-align: center;}
.advt {  font-family: Verdana; font-size: 9px;}
.advtb {  font-family: Verdana; font-size: 9px; font-weight: bold;}
#coolmenu{ background-color: #4274B3;}
#coolmenu a{ font: 11px Tahoma; color: white; text-decoration: none;}
#coolmenu a:hover{ background-color: #4274B3; color: yellow;}
.textbox { font-family: Tahoma; font-size: 12px; color: #000000; background-color: #FFFFFF;	border:1px solid #CCCCCC; padding:1px 1px 0px 1px;}
.ButtonSearch {	font-family: Verdana, verdana, sans-serif; font-weight: bold;	font-size: 11px; color: #000; text-transform:uppercase;	width: 60px;}
.FootNav { width:980px;	border-top:1px solid #999;	padding-top:1px; background-color:#fff;}
a:hover { text-decoration: none;}

a.tablewhitebold:link { font-family: Arial;	font-size: 12px; font-weight: bold;	text-decoration: none; color: #FFFFFF;	word-spacing: normal;}
a.tablewhitebold:visited { font-family: Arial;	font-size: 12px; font-weight: bold;	text-decoration: none; color: #FFFFFF;	word-spacing: normal;}
a.tablewhitebold:active { font-family: Arial;	font-size: 12px; font-weight: bold;	text-decoration: none; color: #FFFFFF;	word-spacing: normal;}
a.tablewhitebold:hover { font-family: Arial;	font-size: 12px; font-weight: bold;	text-decoration: none; color: #FFFFFF;	word-spacing: normal;}

a.tableblackbold:link { font-family: Arial;	font-size: 12px; font-weight: bold;	text-decoration: none; color: #000000;	word-spacing: normal;}
a.tableblackbold:visited { font-family: Arial;	font-size: 12px; font-weight: bold;	text-decoration: none; color: #000000;	word-spacing: normal;}
a.tableblackbold:active { font-family: Arial;	font-size: 12px; font-weight: bold;	text-decoration: none; color: #000000;	word-spacing: normal;}
a.tableblackbold:hover { font-family: Arial;	font-size: 12px; font-weight: bold;	text-decoration: none; color: #000000;	word-spacing: normal;}

